<main class="answer-page">
    <div class="container">
        <div class="answer-pre-title">
            <div class="answer-pre-title-text">
                Результат прохождения теста
            </div>
            <div class="answer-pre-title-arrow">
                <img src="./static/images/small-arrow-2.png" alt="стрелочка">
            </div>
            <div class="answer-pre-title-test-name" id="test-name">
                Тест №1. “JavaScript: Начальный уровень”
            </div>
        </div>
        <h1 class="big-title">
            <span>Правильные ответы</span> к тесту
        </h1>
        <div class="user-data">
            Тест выполнил <span id="user-data">Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="questions" id="questions">
        </div>
        <div class="back-to-result">
            <a href="#/result" id="result">
                Обратно к моему результату теста
                <img src="./static/images/small-arrow.png" alt="Стрелочка">
            </a>
        </div>
    </div>
</main>